<h1>Change team name</h1>

<div class="pure-g">
	<div class="pure-u-1">
		<%= form_for @team do |f| %>
		<fieldset>
			<%= f.label :name %>
		  	<%= f.text_field :name %>
		</fieldset>
		<fieldset class="fieldset-submit">
			<%= f.submit :class => "pure-button pure-button-primary" %>
		</fieldset>
		<% end %>
	</div>
</div>