// ---------------------------
// ---------------------------
//
// Imports and Variables
//
// ---------------------------
// ---------------------------

$accent: #F5C737; //yellow
$accent2: #FB5703; //orange

@import "compass/reset";
//@import "bootstrap/bootstrap.scss";
//@import "bootstrap-overrides.scss";
@import "_pure-io-modifications.scss";
@import "_typography.scss";




// ---------------------------
// ---------------------------
//
// General Styles (to be organized at a later time)
//
// ---------------------------
// ---------------------------

body{
	background: $accent;
}

header{
	text-align: center;
}

.container{
	margin: 0 auto;
}


// ---------------------------
// ---------------------------
//
// Player Avatar styles
//
// ---------------------------
// ---------------------------

.player {
	max-width: 50%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	float: none;
	overflow: hidden;

	span{
		position: absolute;
		z-index: 2;
	}

	.value{
		left: 1.5em;
		background: #777;
		padding: 0 .25em;
		font-size: .75em;
		height: 1.5em;
		line-height: 1.5em;
		color: #222;
		font-weight: bold;
	}

	.name{
		font-style: italic;
		font-weight: bold;
		text-align: left;
		bottom: 0;
		right: 0;
		font-size: .85em;
		color: #222;
		text-decoration: none;
		width: 100%;
		background: rgba(255,255,255,.5);
	}

	.rank {
		height: 1.5em;
		width: 1.5em;
		line-height: 1.5em;
		font-size: .75em;
	}
}

// ---------------------------
// ---------------------------
//
// Most Recent Game
//
// ---------------------------
// ---------------------------

.most-recent{
	background: #222;
	padding: 4em 0;
	margin: 1em 0 0 0;
	position: relative;

	h2 {
		text-align: center;
		margin: 10px 0;
		border-bottom: 10px double #000;
		padding: 0 0 0.5em;
	}

	h3{
		position: relative;
		z-index: 0;
		clear: both;
		padding: 0 0 2em 0;
		width: 100%;
		margin: 0 auto;
	}

	a {
		text-decoration: none;
		color: $accent2;
	}

	img{
		float: left;
		width: 100%;
	}

	.game{
		padding: 0;
		overflow: hidden;
		clear: both;
		width: 100%;
	}

	.name{
		font-size: 2em;
	}

}

.team{

	// Defaults to single player games...	
	overflow: hidden;
	float: left;

	img{
		position: relative;
		z-index: 0;
	}

	// ...and when the game is a doubles game...
	&.doubles{

		margin: 0;

		.player{
			width: 50%;
			padding: 0;

			&:first-child{
				margin: -8% -10% 0 0;
			}
		}
	}
	
	// Turns the second team, which is the defeated team, grayscale. 
	&:nth-child(n+2){
		.player{

			&:after{
				content:'defeated';
				font-size: 2em;
				font-style: italic;
				color: #fff;
				background: $accent2;
				padding:  .25em .5em;
				-webkit-transform: rotate(20deg);
				position: absolute;
				top: 20%;
				left: 30%;
				opacity: .75;
			}

			img { 
				border: 1px solid #FB5703;
			}
		}
	}
}

.versus-text{
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 77%;
	margin-left: -50%;
	text-indent: 140%;
	white-space: nowrap;
	overflow: hidden;
	background: url('/assets/versus.png') no-repeat center center;
	background-size: cover;
}

.versus {
	position: absolute;
	left: 50%;
	top: 10%;
	z-index: 2;
	height: 80%;
	width: 20%;

}

// ---------------------------
// ---------------------------
//
// Player Rank
//
// ---------------------------
// ---------------------------


#player-rank{
	color: #222;
	margin: 0 0 2em 0;

	ol{
		text-align: center;
	}

	a{
		display: block;
		float: left;
		width: 100%;
	}

	li{
		display: inline-block;
		height: auto;
		width: 10%;
		background: #222;
		position: relative;
		overflow: hidden;

		&:hover .name{
			background: $accent2;
			color: #efefef;
		}
	}

	img{
		width: 100%;
		float: left;
	}
}


// ---------------------------
// ---------------------------
//
// Match Feed
//
// ---------------------------
// ---------------------------

#match-feed{
	background: #222;
	color: #fff;
	padding: 1em;

	ol{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li{
		float: left;
		clear: both;
		width: 100%;


		&:nth-child(odd){
			background: #333;
		}
	}

	a{
		font-style: italic;
		font-weight: 600;
	}

	.team{
		position: relative;
		z-index: 1;
		padding: 1em 0;
		font-size: 1.35em;

		&:nth-child(n+2){
			font-size: 1em;

			a{
				color: #777;
			}
		}
	}

	.team, .defeated-wrap{
		width: 100%;
		text-align: center;
		float: left;
		margin: .5em 0;
		height: auto;
	}
}


// ---------------------------
// ---------------------------
//
// Recommendations
//
// ---------------------------
// ---------------------------



.recommendations .panel-title{
	text-align:center;
	font-size:26px;
	font-weight:bold;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}

.recommendations a span{
	margin-left:10px
}
