
<li>
      <% game_feed_item.teams.order('result_teams.rank asc').each_with_index do |team, index| %>
		<div class="team">
			<%= link_to(team_name_for_result(team, game_feed_item), team_game_path(team, @game)) %>
        	<% if index == 0 %>
    	</div>
    	<div class="defeated-wrap">
			<span class="defeated">defeated</span>
		</div>
        	<% end %>
      <% end %>
</li>