
<select id="status" class="form-control">
	<option value="online">online</option>
	<option value="available">available</option>
</select>

<div class="status-container">
	<ul class="status-list" id="availability"></ul>
</div>