/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/_pure-io-modifications.scss */
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: #fff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 10, ../sass/_pure-io-modifications.scss */
.pure-button-success {
  background: #1cb841;
  /* this is a green */ }

/* line 14, ../sass/_pure-io-modifications.scss */
.pure-button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

/* line 18, ../sass/_pure-io-modifications.scss */
.pure-button-warning {
  background: #df7514;
  /* this is an orange */ }

/* line 22, ../sass/_pure-io-modifications.scss */
.pure-button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

/* line 6, ../sass/_typography.scss */
html {
  font-size: 62.5%;
  font-weight: 400;
  font-style: normal; }

/* line 12, ../sass/_typography.scss */
body {
  font-size: 2em; }
  /* line 15, ../sass/_typography.scss */
  body .pure-g [class*="pure-u"], body pure-g-r [class*="pure-u"] {
    font-family: "botanika-mono-web",sans-serif; }

/* line 20, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "botanika-mono-web",sans-serif; }

/* line 24, ../sass/_typography.scss */
h1, h2, h3 {
  text-transform: uppercase; }

/* line 28, ../sass/_typography.scss */
h1 {
  font-size: 5em;
  text-align: center; }

/* line 29, ../sass/_typography.scss */
h2 {
  font-size: 2em;
  font-weight: 600; }

/* line 32, ../sass/_typography.scss */
.ampersand {
  background: #f5c737;
  display: inline-block;
  padding: .25em;
  height: 1em;
  width: 1em;
  color: #222;
  text-align: center; }

/* line 42, ../sass/_typography.scss */
.defeated {
  font-style: italic;
  color: #fff;
  background: #fb5703;
  margin: 0 auto;
  width: 8em;
  padding: .5em;
  text-align: center; }

/* line 29, ../sass/application.scss */
body {
  background: #f5c737; }

/* line 33, ../sass/application.scss */
header {
  text-align: center; }

/* line 37, ../sass/application.scss */
.container {
  margin: 0 auto; }

/* line 50, ../sass/application.scss */
.most-recent {
  border-top: 10px double #222;
  border-bottom: 10px double #222;
  padding: 1em 0;
  margin: 1em 0;
  position: relative; }
  /* line 58, ../sass/application.scss */
  .most-recent h2 {
    text-align: center;
    margin: 10px 0;
    border-bottom: 10px double #000;
    padding: 0 0 0.5em; }
  /* line 65, ../sass/application.scss */
  .most-recent h3 {
    position: relative;
    z-index: 0;
    clear: both;
    padding: 0 0 2em 0;
    width: 100%;
    margin: 0 auto; }
  /* line 74, ../sass/application.scss */
  .most-recent a {
    text-decoration: none;
    color: #fb5703; }
  /* line 79, ../sass/application.scss */
  .most-recent img {
    margin: 0 0 10px 0;
    float: left;
    width: 100%; }
  /* line 85, ../sass/application.scss */
  .most-recent .game {
    padding: 0;
    overflow: hidden;
    clear: both;
    width: 100%; }

/* line 94, ../sass/application.scss */
.team {
  overflow: hidden;
  float: left; }
  /* line 100, ../sass/application.scss */
  .team .player {
    max-width: 50%;
    float: left;
    text-align: center;
    position: relative;
    margin: 0 auto;
    float: none; }
  /* line 109, ../sass/application.scss */
  .team img {
    position: relative;
    z-index: 0; }
  /* line 115, ../sass/application.scss */
  .team.doubles {
    margin: 0; }
    /* line 119, ../sass/application.scss */
    .team.doubles .player {
      width: 50%;
      padding: 0; }
      /* line 123, ../sass/application.scss */
      .team.doubles .player:first-child {
        margin: -8% -10% 0 0; }
  /* line 133, ../sass/application.scss */
  .team:nth-child(n+2) .player:after {
    content: 'defeated';
    font-size: 2em;
    font-style: italic;
    color: #fff;
    background: #fb5703;
    padding: .25em .5em;
    -webkit-transform: rotate(20deg);
    position: absolute;
    top: 20%;
    left: 30%;
    opacity: .75; }
  /* line 147, ../sass/application.scss */
  .team:nth-child(n+2) .player img {
    border: 1px solid #FB5703; }
  /* line 153, ../sass/application.scss */
  .team .rank {
    display: block;
    background: #FB5703;
    color: #efefef;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-weight: bold;
    position: absolute;
    z-index: 1; }

/* line 166, ../sass/application.scss */
.versus-text {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 77%;
  margin-left: -50%;
  text-indent: 140%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/assets/versus.png") no-repeat center center;
  background-size: cover; }

/* line 180, ../sass/application.scss */
.versus {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 2;
  height: 80%;
  width: 20%; }

/* line 198, ../sass/application.scss */
#match-feed {
  background: #222;
  color: #fff;
  padding: 1em; }
  /* line 203, ../sass/application.scss */
  #match-feed h2 {
    text-align: center;
    margin: 1em 0; }
  /* line 209, ../sass/application.scss */
  #match-feed ol {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 215, ../sass/application.scss */
  #match-feed li {
    float: left;
    clear: both;
    width: 100%; }
    /* line 221, ../sass/application.scss */
    #match-feed li:nth-child(odd) {
      background: #333; }
  /* line 226, ../sass/application.scss */
  #match-feed a {
    font-style: italic;
    font-weight: 600; }
  /* line 231, ../sass/application.scss */
  #match-feed .team {
    position: relative;
    z-index: 1;
    padding: 1em 0;
    font-size: 1.35em; }
    /* line 236, ../sass/application.scss */
    #match-feed .team a {
      color: #ccc; }
    /* line 240, ../sass/application.scss */
    #match-feed .team:nth-child(n+2) {
      font-size: 1em; }
      /* line 243, ../sass/application.scss */
      #match-feed .team:nth-child(n+2) a {
        color: #777; }
  /* line 249, ../sass/application.scss */
  #match-feed .team, #match-feed .defeated-wrap {
    width: 100%;
    text-align: center;
    float: left;
    margin: .5em 0;
    height: auto; }

/* line 269, ../sass/application.scss */
.recommendations .panel-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 276, ../sass/application.scss */
.recommendations a span {
  margin-left: 10px; }
