/* line 4, ../sass/_pure-io-modifications.scss */
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: #fff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 10, ../sass/_pure-io-modifications.scss */
.pure-button-success {
  background: #1cb841;
  /* this is a green */ }

/* line 14, ../sass/_pure-io-modifications.scss */
.pure-button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

/* line 18, ../sass/_pure-io-modifications.scss */
.pure-button-warning {
  background: #df7514;
  /* this is an orange */ }

/* line 22, ../sass/_pure-io-modifications.scss */
.pure-button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

/* line 6, ../sass/_typography.scss */
html {
  font-size: 62.5%;
  font-family: "botanika-mono-web",sans-serif;
  font-weight: 400;
  font-style: normal; }

/* line 13, ../sass/_typography.scss */
body {
  font-size: 2em; }

/* line 24, ../sass/application.scss */
header .pure-button {
  float: right; }

/* line 29, ../sass/application.scss */
.container {
  margin: 0 auto; }

/* line 42, ../sass/application.scss */
.most-recent {
  clear: both;
  margin: 0 0 40px;
  overflow: hidden;
  background: #222;
  padding: 20px 0;
  position: relative; }
  /* line 50, ../sass/application.scss */
  .most-recent h2 {
    text-align: center;
    font-size: 3em;
    color: #efefef;
    text-shadow: 0 1px 0 #000,  0 2px 0 #111,  0 3px 0 #222,  0 4px 0 #333,  0 5px 0 #444;
    margin: 10px 0;
    border-bottom: 10px double #000;
    padding: 0 0 0.5em; }
  /* line 64, ../sass/application.scss */
  .most-recent h3 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5em;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
    clear: both;
    padding: 0 0 2em 0;
    width: 100%;
    margin: 0 auto;
    text-shadow: 0 1px 0 #000,  0 2px 0 #111,  0 3px 0 #222,  0 4px 0 #333,  0 5px 0 #444; }
  /* line 82, ../sass/application.scss */
  .most-recent a {
    text-decoration: none;
    color: #efefef; }
  /* line 87, ../sass/application.scss */
  .most-recent img {
    margin: 0 0 10px 0;
    float: left;
    width: 100%; }
  /* line 93, ../sass/application.scss */
  .most-recent .game {
    padding: 0;
    overflow: hidden;
    clear: both;
    width: 100%; }

/* line 102, ../sass/application.scss */
.team {
  width: 50%;
  overflow: hidden;
  float: left;
  padding: 5em 0 0 5%;
  margin: 0 0 0 -2.5%; }
  /* line 111, ../sass/application.scss */
  .team .player {
    max-width: 50%;
    float: left;
    text-align: center;
    position: relative;
    margin: 0 auto;
    float: none; }
  /* line 120, ../sass/application.scss */
  .team img {
    position: relative;
    z-index: 0;
    box-shadow: -1em -1em 2em rgba(0, 0, 0, 0.5); }
  /* line 127, ../sass/application.scss */
  .team.doubles {
    margin: 0; }
    /* line 131, ../sass/application.scss */
    .team.doubles .player {
      width: 50%;
      max-width: 50%;
      float: left;
      padding: 0; }
      /* line 137, ../sass/application.scss */
      .team.doubles .player:first-child {
        margin: -8% -10% 0 0; }
  /* line 145, ../sass/application.scss */
  .team:nth-child(n+2) .player img {
    -webkit-filter: grayscale(100%); }
  /* line 150, ../sass/application.scss */
  .team .rank {
    display: block;
    background: #FB5703;
    color: #efefef;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-weight: bold;
    position: absolute;
    z-index: 1; }

/* line 163, ../sass/application.scss */
.versus-text {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 15em;
  margin-left: -50%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("/assets/versus.png") no-repeat center center;
  background-size: cover; }

/* line 177, ../sass/application.scss */
.versus {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 30%;
  z-index: 1;
  height: 15em;
  width: 10em; }

/* line 189, ../sass/application.scss */
.recommendations .panel-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 196, ../sass/application.scss */
.recommendations a span {
  margin-left: 10px; }
