/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p392@ke_leaderboard/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/_pure-io-modifications.scss */
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: #fff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 10, ../sass/_pure-io-modifications.scss */
.pure-button-success {
  background: #1cb841;
  /* this is a green */ }

/* line 14, ../sass/_pure-io-modifications.scss */
.pure-button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

/* line 18, ../sass/_pure-io-modifications.scss */
.pure-button-warning {
  background: #df7514;
  /* this is an orange */ }

/* line 22, ../sass/_pure-io-modifications.scss */
.pure-button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

/* line 6, ../sass/_typography.scss */
html {
  font-size: 62.5%;
  font-weight: 400;
  font-style: normal; }

/* line 12, ../sass/_typography.scss */
body {
  font-size: 2em; }
  /* line 15, ../sass/_typography.scss */
  body .pure-g [class*="pure-u"], body pure-g-r [class*="pure-u"] {
    font-family: "botanika-mono-web",sans-serif; }

/* line 20, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "botanika-mono-web",sans-serif; }

/* line 24, ../sass/_typography.scss */
h1, h2, h3 {
  text-transform: uppercase; }

/* line 28, ../sass/_typography.scss */
h1 {
  font-size: 5em;
  text-align: center;
  margin: .5em 0; }

/* line 34, ../sass/_typography.scss */
h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin: .5em 0; }

/* line 42, ../sass/_typography.scss */
ol a {
  color: #ccc; }

/* line 47, ../sass/_typography.scss */
.ampersand {
  background: #f5c737;
  display: inline-block;
  padding: .25em;
  height: 1em;
  width: 1em;
  color: #222;
  text-align: center; }

/* line 57, ../sass/_typography.scss */
.defeated {
  font-style: italic;
  color: #fff;
  background: #fb5703;
  margin: 0 auto;
  width: 8em;
  padding: .5em;
  text-align: center; }

/* line 27, ../sass/application.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 31, ../sass/application.scss */
body {
  background: #f5c737; }

/* line 35, ../sass/application.scss */
header {
  text-align: center; }

/* line 39, ../sass/application.scss */
.container {
  margin: 0 auto; }

/* line 52, ../sass/application.scss */
.team {
  max-width: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  float: none;
  overflow: hidden; }
  /* line 60, ../sass/application.scss */
  .team .name {
    font-style: italic;
    font-weight: bold;
    text-align: left;
    bottom: 0;
    right: 0;
    font-size: .85em;
    color: #efefef;
    text-decoration: none;
    width: 100%; }
  /* line 72, ../sass/application.scss */
  .team .value, .team .rank {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    font-weight: bold; }
  /* line 79, ../sass/application.scss */
  .team .value {
    background: #efefef;
    padding: 0 1em;
    color: #222; }
  /* line 85, ../sass/application.scss */
  .team .rank {
    background: #FB5703;
    color: #efefef;
    width: 2em; }

/* line 93, ../sass/application.scss */
.team-stats {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%; }

/* line 100, ../sass/application.scss */
.team-info {
  max-width: 85%;
  margin: 0 auto; }
  /* line 104, ../sass/application.scss */
  .team-info h4 {
    width: 100%;
    clear: both;
    float: left;
    text-align: center; }

/* line 120, ../sass/application.scss */
.most-recent {
  background: #222;
  padding: 4em 0;
  margin: 1em 0 0 0;
  position: relative; }
  /* line 126, ../sass/application.scss */
  .most-recent h2 {
    text-align: center;
    margin: 10px 0;
    border-bottom: 10px double #000;
    padding: 0 0 0.5em; }
  /* line 133, ../sass/application.scss */
  .most-recent h3 {
    position: relative;
    z-index: 0;
    clear: both;
    padding: 0 0 2em 0;
    width: 100%;
    margin: 0 auto; }
  /* line 142, ../sass/application.scss */
  .most-recent a {
    text-decoration: none;
    color: #fb5703; }
  /* line 147, ../sass/application.scss */
  .most-recent img {
    float: left;
    width: 100%; }
  /* line 152, ../sass/application.scss */
  .most-recent .game {
    padding: 0;
    overflow: hidden;
    clear: both;
    width: 100%; }
  /* line 159, ../sass/application.scss */
  .most-recent .name {
    font-size: 2em;
    text-align: center;
    margin: .5em 0; }

/* line 167, ../sass/application.scss */
.team {
  overflow: hidden;
  float: left; }
  /* line 173, ../sass/application.scss */
  .team img {
    position: relative;
    z-index: 0; }
  /* line 179, ../sass/application.scss */
  .team.doubles {
    margin: 0;
    text-align: center; }
    /* line 184, ../sass/application.scss */
    .team.doubles a {
      float: left; }
  /* line 192, ../sass/application.scss */
  .team:nth-child(n+2):after {
    content: 'defeated';
    font-size: 3em;
    font-style: italic;
    color: #fff;
    background: #fb5703;
    padding: .25em .5em;
    -webkit-transform: rotate(20deg);
    position: absolute;
    top: 40%;
    left: 30%;
    opacity: .75; }

/* line 208, ../sass/application.scss */
.versus-text {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 77%;
  margin-left: -50%;
  text-indent: 140%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/assets/versus.png") no-repeat center center;
  background-size: cover; }

/* line 222, ../sass/application.scss */
.versus {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 2;
  height: 80%;
  width: 20%; }

/* line 241, ../sass/application.scss */
#player-rank {
  color: #222;
  margin: 0 0 2em 0; }
  /* line 245, ../sass/application.scss */
  #player-rank ol {
    text-align: center; }
  /* line 249, ../sass/application.scss */
  #player-rank a {
    display: block;
    float: left;
    width: 100%; }
  /* line 255, ../sass/application.scss */
  #player-rank li {
    display: block;
    height: auto;
    width: 100%;
    background: #222;
    position: relative;
    overflow: hidden;
    margin: 0 1em;
    max-width: 100%; }
    /* line 265, ../sass/application.scss */
    #player-rank li:hover .name {
      background: #fb5703;
      color: #efefef; }
  /* line 271, ../sass/application.scss */
  #player-rank img {
    width: auto;
    float: left; }

/* line 286, ../sass/application.scss */
#match-feed {
  background: #222;
  color: #fff;
  padding: 1em; }
  /* line 291, ../sass/application.scss */
  #match-feed ol {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 297, ../sass/application.scss */
  #match-feed li {
    float: left;
    clear: both;
    width: 100%; }
    /* line 303, ../sass/application.scss */
    #match-feed li:nth-child(odd) {
      background: #333; }
  /* line 308, ../sass/application.scss */
  #match-feed a {
    font-style: italic;
    font-weight: 600; }
  /* line 313, ../sass/application.scss */
  #match-feed .team {
    position: relative;
    z-index: 1;
    padding: 1em 0;
    font-size: 1.35em; }
    /* line 319, ../sass/application.scss */
    #match-feed .team:nth-child(n+2) {
      font-size: 1em; }
      /* line 322, ../sass/application.scss */
      #match-feed .team:nth-child(n+2) a {
        color: #777; }
  /* line 328, ../sass/application.scss */
  #match-feed .team, #match-feed .defeated-wrap {
    width: 100%;
    text-align: center;
    float: left;
    margin: .5em 0;
    height: auto; }

/* line 348, ../sass/application.scss */
.recommendations .panel-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 355, ../sass/application.scss */
.recommendations a span {
  margin-left: 10px; }

/* line 367, ../sass/application.scss */
.status-container {
  margin: 10px 0;
  border: solid 1px #ddd;
  border-left: 0; }

/* line 373, ../sass/application.scss */
.status-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 378, ../sass/application.scss */
  .status-list li {
    display: block;
    padding: 7px 10px;
    border-left: solid 5px #ddd; }
    /* line 383, ../sass/application.scss */
    .status-list li.status-available {
      border-left-color: #2ecc71; }
  /* line 388, ../sass/application.scss */
  .status-list span {
    display: inline-block;
    padding: 0 0 0 10px; }
