<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <%= link_to "Leaderboard", root_path, class: "pure-menu-heading" %>
    <% if player_signed_in? %>
    <ul>
      <% if current_player.admin? %>
      <li><%= link_to "Games", games_path %></li>
      <% end %>
      <li><%= link_to current_player.email, edit_player_registration_path %></li>
      <li>
        <%= link_to "Sign out", destroy_player_session_path, method: :delete, class: "pure-button pure-button-warning" %></li>
    </ul>
  <% end %>
</div>